{% extends 'base.html.twig' %}


{% block body %}
    <div class="container my-5">
        <h1>Merci Pour votre commande</h1>
        <a href="{{ path('app_account') }}" class="btn btn-success">Consulter ma commande</a>
    </div>

{% endblock %}
